<div class="row">
<div class="large-12 small-12 small-centered columns roundbox outer">
<h3>Book Selected</h3>
  <div class="row roundbox outer">
      <div class="large-1 small-2 columns">
        <img src='<%= @book.image_link %>' class="bookimage">
      </div>
      <div class="large-4 small-4 columns">
        <b> <%= @book.title %> </b>
        <br>
        by <%= @book.authors %>
        <br> 
        ISBN: <%= @book.isbn %>
        <br>
        Published by: <%= @book.publisher %>
      </div>
      <div class="large-7 small-6 columns"> 
        <% if @book.description.to_s.length > 450 %>
        <%= @book.description.to_s[0..450] %>
        <% else %>
        <%= @book.description %>
        <% end %>
      </div>
    </div>
</div>
</div>

<div class="row">
	<div class="large-12 small-12 columns roundbox outer">
    <div class="row">
      <div class="large-12 small-12 columns">
		<h1>Find a Friend</h1>
      </div>
    </div>

<%= form_tag('searchusers') do %>
	<div class="row">
		<div class="large-10 small-12 columns">
			<%= text_field_tag 'starts_with', nil, placeholder: 'Search by name, location, or description keyword' %>
		</div>
		<div class="large-2 small-12 columns">
			<%= hidden_field_tag("isbn", params[:isbn]) %>
			<%= submit_tag "Search", :class => 'button small radius' %>
		</div>
	</div>
<% end %>

</div>
</div>