
<h1>Find a Friend</h1>
<%= form_tag('searchusers') do %>
<%= text_field_tag 'starts_with', nil, placeholder: 'Enter name' %>
<%= hidden_field_tag("isbn", params[:isbn]) %>
<%= submit_tag "Search" %>
<% end %>

<p>
<h1>Read with a Rando</h1>
	<% @randos.each do |rando, score| %>
		<p>
			<%= link_to rando.name, user_path(rando) %><br>
			<% if !rando.description.nil? %><%= rando.description %><br><% end %>
			<%= score.to_i %>% 
		</p>
	<% end %>
</p>
