<h1>Pick a Friend</h1>

<%= form_for(@group) do |f| %>

	<%= f.label :users, "Find a Fellow Reader"%>
	<%= f.autocomplete_field :users, autocomplete_user_name_groups_path, :value=> "" %>
	<%= hidden_field_tag("isbn", params[:isbn]) %>

	<%= f.submit "Submit" %>
<% end %> 
