<%= render 'groups/book_search' %> 
<table>
<% if !@sbooks.nil?  %>
		<% @sbooks.each do |onebook| %>
		<% if onebook.isbn != nil %>
		<tr>
			<td> <a class="button radius" href="/displayusersearch">Select</a></td>
			<td> <img src='<%= onebook.image_link %>'> </td>
			<td><b> <%= onebook.title %> </b>
			<br>
			by <%= onebook.authors %>
			<br> 
			ISBN: <%= onebook.isbn %>
			<br>
			Published by: <%= onebook.publisher %>	
			</td>
			<td> 
				<% if onebook.description.to_s.length > 450 %>
				<%= onebook.description.to_s[0..450] %> ...
				<% else %>
				<%= onebook.description %>
				<% end %>
			</td>
		</tr>
		<% end %>
		<% end %>
<%else %> 
 search failed
<% end %> 
</table>

<div class="text-centered">
  
</div>