<%= render 'groups/book_search' %>

<div class="row">
	<div class="large-12 small-12 roundbox outer">
		<% if !@sbooks.nil?  %>
				<% @sbooks.each do |onebook| %>
					<% if onebook.isbn != nil %>
				<a href="/displayusersearch?isbn=<%= onebook.isbn %>">
					<div class="row roundbox outer clickable">
				 			<div class="large-1 small-2 columns">
					 			<img src='<%= onebook.image_link %>' class="bookimage">
							</div>
							<div class="large-4 small-4 columns">
								<b> <%= onebook.title %> </b>
								<br>
								by <%= onebook.authors %>
								<br> 
								ISBN: <%= onebook.isbn %>
								<br>
								Published by: <%= onebook.publisher %>
							</div>
							<div class="large-7 small-6 columns">	
								<% if onebook.description.to_s.length > 450 %>
								<%= onebook.description.to_s[0..450] %> ..
								<% else %>
								<%= onebook.description %>
								<% end %>
							</div>
						</div>
						</a>

				<% end %>
			<% end %>
		<% else %> 
			Search failed.
		<% end %> 
