<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<!-- BEGIN TimelineJS -->
<script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>

<script>
        $(document).ready(function() {
            createStoryJS({
                type:       'timeline',
                width:      $(window).width(),
                height:     '500',
                source:     '<%= @notes %>',
                embed_id:   'my-timeline'
            });
        });
</script>

<div id="my-timeline"></div>

<%= form_for(@note) do |f| %>
	<%= f.label :body %>
	<%= f.text_field :body %>

	<%= f.label :pagenumber %>
	<%= f.text_field :pagenumber %>

	<%= f.hidden_field(:group_id, value: @group.id) %>
	<%= f.hidden_field(:user_id, value: current_user.id) %>

	<%= f.submit %>
<% end %>

<% @group.notes.each do |note| %>
<p>
	written by: <%= User.find(note.user_id).name %>
	<%= note.body %>, 
	pg <%= note.pagenumber %>
	<br>
</p>
<% end %>