w<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


<!-- BEGIN TimelineJS -->
<script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>

<script>
    $(document).on('ready page:load',function() {
        createStoryJS({
            type:       'timeline',
            width:      "100%",
            height:     '500',
            source:     '<%= @notes %>',
            embed_id:   'my-timeline'
        });
    });
</script>
<%= render 'groups/timelineactive' %>

<%= render 'groups/addnote', display_type: "timeline" %>

<div class="row show-for-medium-up">
<div class="large-12 small-12 columns roundbox outer">
<div style="z-index: 1;" id="my-timeline" class="large-12 small-12 columns"></div>
</div>
</div>

<div class="show-for-small-only">
    <%= render 'groups/listview' %>
</div>

<% if @group.status == true %>
    <%= render 'groups/markbookcomplete' %>
<% end %>
