<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<!-- BEGIN TimelineJS -->
<script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>

<script>
    $(document).on('ready page:load',function() {
        createStoryJS({
            type:       'timeline',
            width:      "100%",
            height:     '500',
            source:     '<%= @notes %>',
            embed_id:   'my-timeline'
        });
    });
</script>

<%= link_to "Show list view", groups_list_path(params[:id]) %>

<div style="z-index: 1;" id="my-timeline"></div>

<%= form_for(@note) do |f| %>
	<%= f.label :body %>
	<%= f.text_field :body %>

	<%= f.label :pagenumber %>
	<%= f.text_field :pagenumber %>

	<%= f.hidden_field(:group_id, value: @group.id) %>
	<%= f.hidden_field(:user_id, value: current_user.id) %>
    <%= f.hidden_field(:view_type, value: "timeline") %>

	<%= f.submit %>
<% end %>

<% if @group.request.requester_id == current_user.id %>
    <p>
        <%= form_tag('finish_book') do %>
            <%= hidden_field_tag("group", @group.id) %>
            <%= submit_tag "Mark book as completed" %>
        <% end %>
    </p>
<% end %>

<%= debug(params) %>

<script type="text/javascript">
    //Place as last thing before the closing </body> tag
    if(location.search.indexOf('reloaded=yes') < 0){
        var hash = window.location.hash;
        var loc = window.location.href.replace(hash, '');
        loc += (loc.indexOf('?') < 0? '?' : '&') + 'reloaded=yes';
        // SET THE ONE TIME AUTOMATIC PAGE RELOAD TIME TO 5000 MILISECONDS (5 SECONDS):
        setTimeout(function(){window.location.href = loc + hash;}, 1);

        // <% binding.pry %>
        // <% if params[:unsaved] == true %>
        // <%= flash[:notice] = "Please fill out both fields." %>
        // <% end %>
    }
</script>