<p>
<%= builder.label "Favorite Genres" %>
<%= builder.check_box(:classic) %>
<%= builder.label(:classic, "Classic Literature") %>
<%= builder.check_box(:comedy) %>
<%= builder.label(:comedy, "Comedy") %>
<%= builder.check_box(:comic) %>
<%= builder.label(:comic, "Comic/Graphic Novel") %>
<%= builder.check_box(:educational) %>
<%= builder.label(:educational, "Educational/Textbook") %>
<%= builder.check_box(:historical) %>
<%= builder.label(:historical, "Historical") %>
<%= builder.check_box(:memoir) %>
<%= builder.label(:memoir, "Memoir/Biography") %>
<%= builder.check_box(:mystery) %>
<%= builder.label(:mystery, "Mystery") %>
<%= builder.check_box(:nonfiction) %>
<%= builder.label(:nonfiction, "Non-fiction") %>
<%= builder.check_box(:poetry) %>
<%= builder.label(:poetry, "Poetry") %>
<%= builder.check_box(:pulp) %>
<%= builder.label(:pulp, "Pulp") %>
<%= builder.check_box(:romance) %>
<%= builder.label(:romance, "Romance") %>
<%= builder.check_box(:scifi) %>
<%= builder.label(:scifi, "SciFi/Fantasy") %>
<%= builder.check_box(:shortstory) %>
<%= builder.label(:shortstory, "Short Story") %>
</p>