<div class="large-12 small-12 small-centered columns end">


<%= form_for(@user) do |f| %>

<div class="row">
		<div class="large-3 small-3 columns " style="background-image: url(<%= @user.image + '?type=large'%>); background-position: center center; background-size: cover; height:250px; width: 250px; border-radius: 100%;" >
		</div>

	    <div class="large-3 small-3 columns end" style="font-size: 100%">
	    			<h1> 	
					<%= @user.fname %> 	<br>
					<%= @user.lname %> <br>
					</h1>
	    </div>
</div>
<div class="row">
	<div class="large-4 columns">
					<%= f.label :email %>
				<%= f.text_field :email %>
	</div>
</div>


<div class="row">
			<div class="large-2 columns">
		       	<%= f.label :age %>
				<%= f.text_field :age %>
	    	</div>
	    	 <div class="large-3 columns" >
		        <%= f.label "Zipcode (5 digits)" %>
				<%= f.text_field :zipcode %>
	   		 </div>
	    	<div class="large-3 columns end">
		       	<%= f.label :gender %>
				<%= f.select :gender, options_for_select([["Female", "female"], ["Male", "male"], ["Other", "other"]], @user.gender) %>
	    	</div>
</div>

<div class="row">
	    	<div class="large-8 columns end">
				<%= f.label :description %>
				<%= f.text_field :description %>
	    	</div>
</div>

<div class="row">
	    	<div class="large-8 columns end">
					<%= f.label "Favorite Books" %>
					<%= f.text_field :fav_books %>
	    	</div>
</div>
	

<div class="row">
	    	<div class="large-8 columns end">
				<%= f.label "Favorite Authors" %>
				<%= f.text_field :fav_authors %>
	    	</div>
</div>

<div class="row">
	<%= f.fields_for @user.genre do |builder| %>

	<div class="large-8 columns end">

			<%= builder.label "Favorite Genres" %>
			<%= builder.check_box(:classic, :checked => checked?(@user.genre.classic)) %>
			<%= builder.label(:classic, "Classic Literature") %>
	
			<%= builder.check_box(:comedy, :checked => checked?(@user.genre.comedy)) %>
			<%= builder.label(:comedy, "Comedy") %>

			<%= builder.check_box(:comic, :checked => checked?(@user.genre.comic)) %>
			<%= builder.label(:comic, "Comic/Graphic Novel") %>

			<%= builder.check_box(:historical, :checked => checked?(@user.genre.historical)) %>
			<%= builder.label(:historical, "Historical") %>

			<%= builder.check_box(:romance, :checked => checked?(@user.genre.romance)) %>
			<%= builder.label(:romance, "Romance") %>

	</div>

	<div class="large-8 columns end">

			<%= builder.check_box(:educational, :checked => checked?(@user.genre.educational)) %>
			<%= builder.label(:educational, "Educational/Textbook") %>

			<%= builder.check_box(:scifi, :checked => checked?(@user.genre.scifi)) %>
			<%= builder.label(:scifi, "SciFi/Fantasy") %>

			<%= builder.check_box(:shortstory, :checked => checked?(@user.genre.shortstory)) %>
			<%= builder.label(:shortstory, "Short Story") %>

			<%= builder.check_box(:memoir, :checked => checked?(@user.genre.memoir)) %>
			<%= builder.label(:memoir, "Memoir/Biography") %>

	</div>

	<div class="large-8 columns end">

			<%= builder.check_box(:mystery, :checked => checked?(@user.genre.mystery)) %>
			<%= builder.label(:mystery, "Mystery") %>

			<%= builder.check_box(:nonfiction, :checked => checked?(@user.genre.nonfiction)) %>
			<%= builder.label(:nonfiction, "Non-fiction") %>

			<%= builder.check_box(:poetry, :checked => checked?(@user.genre.poetry)) %>
			<%= builder.label(:poetry, "Poetry") %>

			<%= builder.check_box(:pulp, :checked => checked?(@user.genre.pulp)) %>
			<%= builder.label(:pulp, "Pulp") %>
	</div>

	<% end %>
</div>

<div class="row">
<div class="large-8 columns end">
	<%= f.submit "Submit", :class => "tiny button right"%>
	<%= link_to "Delete account", "#", "data-reveal-id" => "myModal"  %>
</div>
</div>
<% end %>



<div id="myModal" class="reveal-modal" data-reveal>
	<div class="text-center">
		<h2>Are you sure you want to delete your account?</h2>
		<%= link_to "Yes, delete my account", current_user, method: :delete, :class => "button" %>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>



