<h1>Edit profile</h1>

<img src=<%= @user.image %>>
<%= @user.fname %>
<%= @user.lname %>
<br>

<%= form_for(@user) do |f| %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<br>

	<%= f.label :location %>
	<%= f.text_field :location %>
	<br>

	<%= f.label :gender %>
	<%= f.select :gender, options_for_select([["Female", "female"], ["Male", "male"], ["Other", "other"]], @user.gender) %>
	<br>

	<%= f.label :age %>
	<%= f.text_field :age %>
	<br>	

	<%= f.label :description %>
	<%= f.text_field :description %>
	<br>

	<%= f.label "Favorite Books" %>
	<%= f.text_field :fav_books %>
	<br>

	<%= f.fields_for @user.genre do |builder| %>
		<p>
			<%= builder.label "Favorite Genres" %>
			<%= builder.check_box(:classic, :checked => checked?(@user.genre.classic)) %>
			<%= builder.label(:classic, "Classic Literature") %>

			<%= builder.check_box(:comedy, :checked => checked?(@user.genre.comedy)) %>
			<%= builder.label(:comedy, "Comedy") %>

			<%= builder.check_box(:comic, :checked => checked?(@user.genre.comic)) %>
			<%= builder.label(:comic, "Comic/Graphic Novel") %>

			<%= builder.check_box(:educational, :checked => checked?(@user.genre.educational)) %>
			<%= builder.label(:educational, "Educational/Textbook") %>

			<%= builder.check_box(:historical, :checked => checked?(@user.genre.historical)) %>
			<%= builder.label(:historical, "Historical") %>

			<%= builder.check_box(:memoir, :checked => checked?(@user.genre.memoir)) %>
			<%= builder.label(:memoir, "Memoir/Biography") %>

			<%= builder.check_box(:mystery, :checked => checked?(@user.genre.mystery)) %>
			<%= builder.label(:mystery, "Mystery") %>

			<%= builder.check_box(:nonfiction, :checked => checked?(@user.genre.nonfiction)) %>
			<%= builder.label(:nonfiction, "Non-fiction") %>

			<%= builder.check_box(:poetry, :checked => checked?(@user.genre.poetry)) %>
			<%= builder.label(:poetry, "Poetry") %>

			<%= builder.check_box(:pulp, :checked => checked?(@user.genre.pulp)) %>
			<%= builder.label(:pulp, "Pulp") %>

			<%= builder.check_box(:romance, :checked => checked?(@user.genre.romance)) %>
			<%= builder.label(:romance, "Romance") %>

			<%= builder.check_box(:scifi, :checked => checked?(@user.genre.scifi)) %>
			<%= builder.label(:scifi, "SciFi/Fantasy") %>

			<%= builder.check_box(:shortstory, :checked => checked?(@user.genre.shortstory)) %>
			<%= builder.label(:shortstory, "Short Story") %>
		</p>
	<% end %>


	<%= f.label "Favorite Authors" %>
	<%= f.text_field :fav_authors %>
	<br>

	<%= f.submit %>
<% end %>