<div class="row">
	<div class="large-12 small-12 columns roundbox outer">
<h3>New Notifications</h3>
<% if !@user.notifications.where(read: false).empty? %>
	<% @user.notifications.where(read: false).order('updated_at DESC').each do |notification| %>
	<div class="large-12 small-12 columns notification">
		<!-- link "x requested you" notification to your books page so that you can confirm -->
		<% if notification.destination == "request" && notification.group != nil %>
		<%= image_tag Group.find(notification.group).users.where.not(id: params[:id]).first.image %> 
			<%= link_to notification.content, groups_user_path(@user) %>
			<p class="timestamp"><%= notification.updated_at.strftime("%I:%M%p, on %m/%d/%Y") %></p>
		<% end %>

		<!-- link "x confirmed your request" notification to the right group show page AND link "new note" notification to the right group show page -->
		<% if notification.destination == "note" && notification.group != nil %> 
		<%= image_tag Group.find(notification.group).users.where.not(id: params[:id]).first.image %> 
			<%= link_to notification.content, group_path(notification.group) %><br>
			<p class="timestamp"><%= notification.updated_at.strftime("%I:%M%p, on %m/%d/%Y") %></p>
		<% end %>
	</div>
	<% end %>
<% else %>
	No new notifications.
<% end %>
</div>
<div class="large-12 small-12 columns roundbox outer">
<h3>Notification History</h3>
<% if !@user.notifications.where(read: true).empty? %>
	<% @user.notifications.where(read: true).order('updated_at DESC').each do |notification| %>
	<div class="large-12 small-12 columns notification">
		<!-- link "x requested you" notification to your books page so that you can confirm -->
		<% if notification.destination == "request" && notification.group != nil %> 
		<%= image_tag Group.find(notification.group).users.where.not(id: params[:id]).first.image %> 
			<%= link_to notification.content, groups_user_path(@user) %><br>
			<p class="timestamp"><%= notification.updated_at.strftime("%I:%M%p, on %m/%d/%Y") %></p>
<% end %>
		<!-- link "x confirmed your request" notification to the right group show page AND link "new note" notification to the right group show page -->
		<% if notification.destination == "note" && notification.group != nil %> 
		<%= image_tag Group.find(notification.group).users.where.not(id: params[:id]).first.image %> 
			<%= link_to notification.content, group_path(notification.group) %><br>
			<p class="timestamp"><%= notification.updated_at.strftime("%I:%M%p, on %m/%d/%Y") %></p>
		<% end %>
</div>
	<% end %>
<% else%>
	No notifications to display.
<% end %>

<!-- mark all notfications as read -->
<% @user.notifications.each do |notification| %>
	<% notification.update_attributes(read: true) %>
<% end %>
</div>
</div>