<h1>My Profile</h1>

<img src=<%= @user.image %>>
<%= @user.fname %>
<%= @user.lname %>
<br>

Email: <%= @user.email %><br>
Location: <%= @user.location %><br>
Gender: <%= @user.gender %><br>
Age: <%= @user.age %><br>
Description: <%= @user.description %><br>
Favorite books: <%= @user.fav_books %><br>

Favorite genres:
<% result = "" %>
<% @user.genre.attributes.each_pair do |key, value| %>
	<% if value == 1 && key != "user_id" && key != "id"%>
		<% result += key + ", " %>
	<% end %>
<% end %>
<%= result[0..(result.length - 3)] %>
<br>

Favorite authors: <%= @user.fav_authors %><br>

<%= link_to "Edit Profile", edit_user_path(@user) %>