<h1>My Profile</h1>

<img src=<%= current_user.image %>>
<%= current_user.fname %>
<%= current_user.lname %>
<br>

Email: <%= current_user.email %><br>
Location: <%= current_user.location %><br>
Gender: <%= current_user.gender %><br>
Age: <%= current_user.age %><br>
Description: <%= current_user.description %><br>
Favorite books: <%= current_user.fav_books %><br>
Favorite genres: <%= current_user.fav_genres %><br>
Favorite authors: <%= current_user.fav_authors %><br>

<%= link_to "Edit Profile", edit_user_path(current_user) %>