<h1>My Profile</h1>
<div class="row">
		<div class="large-3 small-3 columns " style="background-image: url(<%= @user.image + '?type=large'%>); background-position: center center; background-size: cover; height:250px; width: 250px; border-radius: 100%;" ></div>


	    <div class="large-3 small-3 columns end" style=" border-radius: 50%">
	    			<h1> 	
					<%= @user.name %> 	<br>
					</h1>
	    </div>

</div>

Email: <%= @user.email %><br>
Location: <%= @user.location %><br>
Gender: <%= @user.gender %><br>
Age: <%= @user.age %><br>
Description: <%= @user.description %><br>
Favorite books: <%= @user.fav_books %><br>

Favorite genres:
<% result = "" %>
<% @user.genre.attributes.each_pair do |key, value| %>
	<% if value == 1 && key != "user_id" && key != "id"%>
		<% result += key + ", " %>
	<% end %>
<% end %>
<%= result[0..(result.length - 3)] %>
<br>

Favorite authors: <%= @user.fav_authors %><br>
Completed books:
<% @user.groups.each do |group| %>
	<% if group.status == false %>
		<%= group.book.title %><br>
	<% end %>
<% end %><br>
Currently reading:
<% @user.groups.each do |group| %>
	<% if group.status == true %>
		<%= group.book.title %><br>
	<% end %>
<% end %><br>

<% if current_user.id == @user.id %>
<%= link_to "Edit Profile", edit_user_path(@user), :class => "button" %>
<% end %> 
